<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcis.smartbus.db.dao.CompanyMapper">

    <select id= "getCompanyIdBySearch" resultMap= "BaseResultMap">
        SELECT id FROM company WHERE company_name LIKE #{searchContent};
    </select>
</mapper>